body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #222;
}

nav h1 {
  color: cyan;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: cyan;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h2 {
  color: cyan;
  font-size: 40px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background: transparent;
  border: 1px solid cyan;
  color: cyan;
  cursor: pointer;
}

button:hover {
  background: cyan;
  color: black;
}

section {
  padding: 60px 20px;
}

h3 {
  color: cyan;
}
.profile {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
  border: 2px solid cyan;
}

.cert-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.cert-container img {
  width: 250px;
  border: 1px solid #333;
  transition: 0.3s;
}

.cert-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px cyan;
}
